body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.create-post-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.create-post-popup-container {
  background-color: white;
  width: 500px;
  height: fit-content;
  min-height: 300px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.create-post-popup-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.create-post-popup-container-header-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.create-post-popup-container-header-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 35px;
  height: 35px;
  color: red;
  cursor: pointer;
  transition: 0.2s ease;
}
.create-post-popup-container-header-close:hover {
  color: darkred;
}
.create-post-popup-container-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.create-post-popup-container-user-profile-picture, .create-post-popup-container-user-profile-picture-null {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.2s ease;
}
.create-post-popup-container-user-profile-picture:hover, .create-post-popup-container-user-profile-picture-null:hover {
  background-color: white;
  opacity: 0.8;
}
.create-post-popup-container-user-profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.create-post-popup-container-user-sub-info {
  display: flex;
  flex-direction: column;
}
.create-post-popup-container-user-sub-info-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.create-post-popup-container-user-sub-info-privacy {
  color: black;
  margin-top: 3px;
}
.create-post-popup-container-user-sub-info-privacy option {
  color: #ccc;
}
.create-post-popup-container-body {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-post-popup-container-body-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 16px 0;
  resize: none;
  transition: 0.2s ease;
}
.create-post-popup-container-footer {
  width: 100%;
  margin-top: 16px;
}
.create-post-popup-container-footer input {
  display: none;
}
.create-post-popup-container-footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s ease;
  padding: 16px;
  border: 1px solid #cccccc;
  border-radius: 8px;
}
.create-post-popup-container-footer-container-button {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}
.create-post-popup-container-footer-container-icons-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.create-post-popup-container-footer-container-icons-icon-photo, .create-post-popup-container-footer-container-icons-icon-camera {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}
.create-post-popup-container-footer-container-icons-icon-photo {
  color: green;
}
.create-post-popup-container-footer-container-icons-icon-camera {
  color: red;
}
.create-post-popup-container-footer-preview {
  margin-top: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-height: 200px;
}
.create-post-popup-container-footer-preview .photo-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  flex-shrink: 0;
}
.create-post-popup-container-footer-preview .photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.create-post-popup-container-footer-preview .photo-container .delete-button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  color: red;
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
  position: absolute;
  top: 0;
  right: 0;
}
.create-post-popup-container-button-unavailable, .create-post-popup-container-button-available {
  width: 100%;
  border: none;
  outline: none;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  transition: 0.2s ease;
}
.create-post-popup-container-button-available {
  background-color: #1877f2;
  margin-top: 16px;
  color: white;
  cursor: pointer;
}
.create-post-popup-container-button-available:hover {
  background-color: #1464aa;
}
.create-post-popup-container-button-unavailable {
  background-color: #f0f2f5;
  margin-top: 16px;
  color: darkgray;
  cursor: not-allowed;
}

/*# sourceMappingURL=create-post.css.map */
