// Define variables
$font-family-main: 'Roboto', sans-serif;
$color-primary: #1877f2;
$color-primary-dark: #1464aa;
$color-secondary: #42b72a;
$color-secondary-dark: #36a420;
$color-dark: #000000;
$color-light: #f0f2f5;
$color-grey: #ccc;
$input-border: 1px solid #cccccc;
$transition: 0.2s ease;


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.create-post-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    &-container {
        background-color: white;
        width: 500px;

        height: fit-content;
        min-height: 300px;

        border-radius: 8px;

        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            &-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 8px;
            }

            &-close {
                position: absolute;
                top: 16px;
                right: 16px;
                width: 35px;
                height: 35px;
                color: $color-grey;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    color: $color-primary;
                }
            }
        }

        &-user {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            width: 100%;

            &-profile-picture,
            &-profile-picture-null {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
                transition: $transition;

                &:hover {
                    background-color: white;
                    opacity: 0.8;
                }
            }

            &-profile-picture {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-sub-info {
                display: flex;
                flex-direction: column;

                &-name {
                    font-weight: bold;
                    font-size: 1.2rem;
                    margin: 0;
                }

                &-privacy {
                    color: black;
                    margin-top: 3px;

                    option {
                        color: $color-grey;
                    }
                }
            }
        }

        &-body {
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-input {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                font-size: 1.2rem;
                padding: 16px 0;

                resize: none;

                transition: $transition;
            }
        }

        &-footer {
            width: 100%;
            margin-top: 16px;

            input {
                display: none;
            }

            &-container {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                transition: $transition;
                padding: 16px;
                border: $input-border;
                border-radius: 8px;

                &-button {
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: black;
                    font-size: 1.2rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition: $transition;
                }

                &-icons {
                    &-container {
                        margin-left: auto;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }

                    &-icon-photo,
                    &-icon-camera {
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                        cursor: pointer;
                        transition: $transition;
                    }

                    &-icon-photo {
                        color: green;
                    }

                    &-icon-camera {
                        color: red;
                    }
                }
            }

            &-preview {
                margin-top: 16px;
                overflow-y: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                max-height: 200px;

                .photo-container {
                    position: relative;
                    width: 150px;
                    height: 150px;
                    margin-right: 10px;
                    flex-shrink: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .delete-button {
                        width: 30px;
                        height: 30px;
                        border: none;
                        outline: none;
                        color: red;
                        background: none;
                        font-size: 1.2rem;
                        font-weight: bold;
                        cursor: pointer;
                        transition: $transition;

                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }

        }

        &-button-unavailable,
        &-button-available {
            width: 100%;
            border: none;
            outline: none;

            font-weight: bold;
            text-align: center;

            padding: 8px;

            border-radius: 8px;
            transition: $transition;
        }

        &-button-available {
            background-color: $color-primary;
            margin-top: 16px;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: $color-primary-dark;
            }
        }

        &-button-unavailable {
            background-color: $color-light;
            margin-top: 16px;
            color: darkgray;
            cursor: not-allowed;
        }


    }


}
