body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.friends {
  margin-top: 60px;
  min-height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: row;
}
.friends-left {
  flex: 0 0 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
}
.friends-left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.friends-left-header-text {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
}
.friends-left-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  align-items: start;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.friends-left-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s ease;
}
.friends-left-buttons-container:hover {
  background-color: #ccc;
}
.friends-left-buttons-icon, .friends-left-buttons-icon-active {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 3px;
  border-radius: 50%;
  transition: 0.2s ease;
}
.friends-left-buttons-icon {
  color: black;
  background-color: #f0f2f5;
}
.friends-left-buttons-icon-active {
  color: white;
  background-color: #1877f2;
}
.friends-content {
  width: 100%;
  height: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.recommendation {
  display: flex;
  flex-direction: column;
}
.recommendation-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.recommendation-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card-container {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  border-radius: 10px;
  cursor: pointer;
}
.card-profile-picture, .card-profile-picture-null {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  transition: 0.2s ease;
}
.card-profile-picture:hover, .card-profile-picture-null:hover {
  background-color: white;
  opacity: 0.8;
}
.card-profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
}
.card-profile-picture-null {
  color: black;
}
.card-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.card-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
.card-buttons-icon {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
.card-buttons-add, .card-buttons-cf, .card-buttons-block {
  padding: 7px 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  font-weight: bold;
  text-align: center;
  transition: 0.2s ease;
}
.card-buttons-add {
  background-color: #1877f2;
  color: white;
}
.card-buttons-add:hover {
  background-color: #1464aa;
}
.card-buttons-cf {
  background-color: #42b72a;
  color: white;
}
.card-buttons-cf:hover {
  background-color: #36a420;
}
.card-buttons-block {
  background-color: red;
  color: white;
}
.card-buttons-block:hover {
  background-color: darkred;
}

/*# sourceMappingURL=friends.css.map */
