// Define variables
$font-family-main: 'Roboto', sans-serif;
$color-primary: #1877f2;
$color-primary-dark: #1464aa;
$color-secondary: #42b72a;
$color-secondary-dark: #36a420;
$color-dark: #000000;
$color-light: #f0f2f5;
$color-grey: #ccc;
$input-border: 1px solid #cccccc;
$transition: 0.2s ease;


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.friends {
    margin-top: 60px;

    min-height: 100vh;
    background-color: $color-light;

    display: flex;
    flex-direction: row;

    &-left {
        flex: 0 0 20%;
        background-color: white;

        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            &-text {
                margin: 20px;
                font-size: 24px;
                font-weight: bold;
            }
        }

        &-buttons {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-right: 20px;

            align-items: start;
            justify-content: center;

            gap: 10px;

            cursor: pointer;

            &-container {
                width: 100%;

                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: start;

                border-radius: 10px;
                padding: 10px;

                transition: $transition;

                &:hover {
                    background-color: $color-grey;
                }
            }

            &-icon,
            &-icon-active {
                width: 30px;
                height: 30px;
                margin-right: 10px;

                padding: 3px;

                border-radius: 50%;
                transition: $transition;
            }

            &-icon {
                color: black;
                background-color: $color-light;
            }

            &-icon-active {
                color: white;
                background-color: $color-primary;
            }
        }

    }

    &-content {
        width: 100%;
        height: 100%;

        margin: 20px;

        display: flex;
        flex-direction: column;

        align-items: start;
        justify-content: center;
    }

}

.recommendation {
    display: flex;
    flex-direction: column;

    &-text {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.card {
    &-container {
        background-color: white;
        padding: 10px;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: max-content;
        border-radius: 10px;

        cursor: pointer;
    }

    &-profile-picture,
    &-profile-picture-null {
        width: 150px;
        height: 150px;
        border-radius: 4px;
        transition: $transition;

        &:hover {
            background-color: white;
            opacity: 0.8;
        }
    }

    &-profile-picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 10px;
    }

    &-profile-picture-null {
        color: black;
    }

    &-name {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;

        align-items: center;
        justify-items: center;

        cursor: pointer;

        &-icon {
            width: 17px;
            height: 17px;
            margin-right: 10px;
        }

        &-add,
        &-cf,
        &-block {
            padding: 7px 10px;
            border-radius: 10px;

            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;

            font-weight: bold;
            text-align: center;

            transition: $transition;
        }

        &-add {
            background-color: $color-primary;
            color: white;

            &:hover {
                background-color: $color-primary-dark;
            }
        }

        &-cf {
            background-color: $color-secondary;
            color: white;

            &:hover {
                background-color: $color-secondary-dark;
            }
        }

        &-block {
            background-color: red;
            color: white;

            &:hover {
                background-color: darkred;
            }
        }

    }
}
