// Define variables
$font-family-main: 'Roboto', sans-serif;
$color-primary: #1877f2;
$color-primary-dark: #1464aa;
$color-secondary: #42b72a;
$color-secondary-dark: #36a420;
$color-dark: #000000;
$color-light: #f0f2f5;
$color-grey: #ccc;
$input-border: 1px solid #cccccc;
$transition: 0.2s ease;


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.groups {
    margin-top: 60px;

    min-height: 100vh;
    background-color: $color-light;

    display: flex;
    flex-direction: row;

    &-left {
        flex: 0 0 20%;
        background-color: white;

        display: flex;
        flex-direction: column;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 20;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            &-text {
                margin: 20px;
                font-size: 24px;
                font-weight: bold;
            }

            &-create-button {
                background-color: $color-primary;
                color: white;
                padding: 10px;

                margin-right: 20px;
                margin-left: 20px;

                font-weight: bold;
                font-size: 18px;
                text-align: center;

                border: none;
                outline: none;

                border-radius: 30px;
                transition: $transition;

                cursor: pointer;

                &:hover {
                    background-color: $color-primary-dark;
                }
            }
        }

        &-buttons {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;

            align-items: start;
            justify-content: center;

            gap: 10px;

            cursor: pointer;

            &-container {
                width: 100%;

                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: start;

                border-radius: 10px;
                padding: 10px;

                transition: $transition;

                &:hover {
                    background-color: $color-grey;
                }
            }

            &-icon,
            &-icon-active {
                width: 30px;
                height: 30px;
                margin-right: 10px;

                padding: 3px;

                border-radius: 50%;
                transition: $transition;
            }

            &-icon {
                color: black;
                background-color: $color-light;
            }

            &-icon-active {
                color: white;
                background-color: $color-primary;
            }
        }

        &-joined {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;

            align-items: start;
            justify-content: center;

            gap: 10px;

            &-title {
                font-size: 20px;
                font-weight: bold;
            }

            &-container,
            &-container-active {
                width: 100%;

                padding: 10px;
                border-radius: 16px;

                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: start;

                cursor: pointer;

                &:hover {
                    background-color: $color-grey;
                }

                &-image {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;

                    border-radius: 50%;
                    object-fit: cover;
                }

                &-texts {
                    display: flex;
                    flex-direction: column;

                    &-name {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    &-info {
                        font-size: 14px;
                        color: gray;
                    }
                }
            }

            &-container-active {
                background-color: $color-primary;
                color: white;

                &:hover {
                    background-color: $color-primary-dark;
                }
            }
        }
    }

    &-content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        align-items: start;
        justify-content: center;
    }

}

.group-card {
    &-container {
        background-color: white;
        padding: 10px;

        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        width: fit-content;
        border-radius: 10px;

        cursor: pointer;
    }

    &-picture {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 10px;

        object-fit: cover;
    }

    &-right {
        display: flex;
        flex-direction: column;

        margin-left: 16px;
    }

    &-name {
        font-size: 24px;
        font-weight: bold;
    }

    &-description {
        font-size: 16px;
        color: gray;

        margin-top: 10px;
        text-align: justify;
    }

    &-info {
        font-size: 14px;
        color: gray;
        margin-top: 5px;
    }
}

.create-group-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    &-container {
        background-color: white;
        width: 500px;

        height: fit-content;
        min-height: 300px;

        border-radius: 8px;

        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        position: relative;
    }

    &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        padding: 10px;

        &-title {
            font-size: 24px;
            font-weight: bold;

            justify-self: center;
            align-self: center;
        }

        &-close {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 35px;
            height: 35px;
            color: red;
            cursor: pointer;
            transition: $transition;

            &:hover {
                color: darkred;
            }
        }
    }

    &-body {
        display: flex;
        flex-direction: column;

        width: 100%;
        margin-top: 16px;

        align-items: center;
        justify-content: center;

        &-input {
            width: 100%;
            margin-bottom: 16px;

            input {
                width: 100%;
                padding: 8px;
                border-radius: 8px;
                border: $input-border;
                outline: none;
                transition: $transition;
                font-size: 16px;

                &:focus {
                    border: 1px solid $color-primary;
                }
            }

            &-select {
                width: 100%;
                margin-bottom: 16px;

                select {
                    width: 100%;
                    padding: 8px;
                    border-radius: 8px;
                    border: $input-border;
                    outline: none;
                    transition: $transition;
                    font-size: 16px;

                    &:focus {
                        border: 1px solid $color-primary;
                    }
                }

                option {
                    padding: 8px;
                    border-radius: 8px;
                    border: $input-border;
                    outline: none;
                    transition: $transition;
                    font-size: 16px;

                    &:focus {
                        border: 1px solid $color-primary;
                    }
                }
            }

            &-file {
                display: none;

                &-button {
                    width: 100%;
                    border: none;
                    outline: none;

                    font-weight: bold;
                    text-align: center;

                    padding: 8px;

                    border-radius: 8px;
                    transition: $transition;

                    background-color: $color-secondary;
                    color: white;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-secondary-dark;
                    }
                }
            }
        }
    }

    &-footer {
        width: 100%;

        &-button-enabled,
        &-button-disabled {
            width: 100%;
            border: none;
            outline: none;

            font-weight: bold;
            text-align: center;

            padding: 8px;

            border-radius: 8px;
            transition: $transition;
        }

        &-button-enabled {
            background-color: $color-primary;
            margin-top: 16px;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: $color-primary-dark;
            }
        }

        &-button-disabled {
            background-color: $color-light;
            margin-top: 16px;
            color: darkgray;
            cursor: not-allowed;
        }
    }
}

.group {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    &-header {
        width: 100%;
        background-color: white;

        &-container {
            padding: 20px 15%;

            display: flex;
            flex-direction: row;

            justify-content: start;
            align-items: center;
        }

        &-picture {
            width: 175px;
            height: 175px;
            border-radius: 50%;
            margin-right: 10px;
            color: gray;

            object-fit: cover;
        }

        &-info {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            &-name {
                font-size: 24px;
                font-weight: bold;
            }

            &-description {
                font-size: 16px;
                color: gray;

                margin-top: 10px;
            }

            &-stats {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;

                gap: 10px;

                &-stat {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: start;

                    &-text {
                        font-size: 14px;
                        color: gray;
                    }
                }
            }

        }
    }

    &-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;

        align-items: center;
        justify-items: center;
        text-align: center;

        width: 100%;
        padding-right: 15%;
        padding-left: 15%;

        background-color: white;
        transition: $transition;

        &-icon,
        &-icon-active {
            width: 100%;
            max-height: 45px;
            box-sizing: border-box;
            padding-top: 10px;
            padding-bottom: 10px;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            transition: $transition;
        }

        &-icon {
            color: darkgray;

            &:hover {
                border-bottom: 2px solid $color-primary;
                background-color: $color-light;
            }
        }

        &-icon-active {
            color: $color-primary;
            border-bottom: 2px solid $color-primary;

            &:hover {
                background-color: $color-light;
            }
        }
    }

    &-content {
        width: 100%;

        margin-top: 20px;
        align-items: start;
        justify-items: center;

        &-posts {
            width: 100%;

            display: grid;
            grid-template-columns: 60% 40%;
            gap: 20px;

            &-left {
                margin-left: 15%;

                border-radius: 10px;

                display: flex;
                flex-direction: column;

                align-items: center;

                &-title {
                    background-color: white;
                    border-radius: 10px;

                    width: 100%;

                    font-size: 1.25rem;
                    font-weight: 600;

                    padding: 10px 20px 10px 20px;
                }
            }

            &-right {
                background-color: white;
                margin-right: 15%;

                border-radius: 10px;

                display: flex;
                flex-direction: column;

                align-items: center;
                justify-items: center;

                &-title {
                    width: 100%;

                    font-size: 1.25rem;
                    font-weight: 600;

                    padding: 10px 20px 10px 20px;
                }

                &-info {
                    width: 100%;
                    padding-left: 20px;

                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    margin-bottom: 10px;
                    text-decoration: none;
                    color: black;

                    &-icon {
                        width: 20px;
                        height: 20px;
                        color: gray;

                        margin-right: 5px;

                        &-chat {
                            width: 20px;
                            height: 20px;
                            color: gray;

                            margin-right: 5px;

                            &:hover {
                                color: $color-primary;
                            }
                        }
                    }

                    &-gender {
                        display: flex;
                        flex-direction: row;

                        align-items: center;
                        justify-items: center;
                    }

                    &-chat {
                        cursor: pointer;

                        display: flex;
                        flex-direction: row;

                        align-items: center;
                        justify-items: center;

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }
}

.your-group-content {
    display: flex;
    flex-direction: column;

    margin: 20px;
}

.group-posts {
    width: 100%;
    margin-top: 20px;
}

.create-post {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;

    width: 100%;

    .create-post-header {
        display: flex;
        flex-direction: row;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
            color: gray;
        }

        input {
            width: 100%;
            padding: 0 10px;
            outline: none;
            background-color: $color-light;
            transition: $transition;
            border-radius: 20px;
            border: none;
            font-size: 15px;
        }
    }

    .create-post-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .footer-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            transition: $transition;

            p {
                color: black;
                font-size: 16px;
            }

            &:hover {
                cursor: pointer;
                background-color: $color-light;
            }

            .camera-icon,
            .photo-icon,
            .smile-icon {
                width: 25px;
                height: 25px;

            }

            .camera-icon {
                color: red;
            }

            .photo-icon {
                color: green;
            }

            .smile-icon {
                color: orange;
            }
        }
    }
}

.home-post-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 16px;

    gap: 10px;
}
