body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.groups {
  margin-top: 60px;
  min-height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: row;
}
.groups-left {
  flex: 0 0 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 20;
}
.groups-left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.groups-left-header-text {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
}
.groups-left-header-create-button {
  background-color: #1877f2;
  color: white;
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 30px;
  transition: 0.2s ease;
  cursor: pointer;
}
.groups-left-header-create-button:hover {
  background-color: #1464aa;
}
.groups-left-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  align-items: start;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.groups-left-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s ease;
}
.groups-left-buttons-container:hover {
  background-color: #ccc;
}
.groups-left-buttons-icon, .groups-left-buttons-icon-active {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 3px;
  border-radius: 50%;
  transition: 0.2s ease;
}
.groups-left-buttons-icon {
  color: black;
  background-color: #f0f2f5;
}
.groups-left-buttons-icon-active {
  color: white;
  background-color: #1877f2;
}
.groups-left-joined {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
.groups-left-joined-title {
  font-size: 20px;
  font-weight: bold;
}
.groups-left-joined-container, .groups-left-joined-container-active {
  width: 100%;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}
.groups-left-joined-container:hover, .groups-left-joined-container-active:hover {
  background-color: #ccc;
}
.groups-left-joined-container-image, .groups-left-joined-container-active-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover;
}
.groups-left-joined-container-texts, .groups-left-joined-container-active-texts {
  display: flex;
  flex-direction: column;
}
.groups-left-joined-container-texts-name, .groups-left-joined-container-active-texts-name {
  font-size: 16px;
  font-weight: bold;
}
.groups-left-joined-container-texts-info, .groups-left-joined-container-active-texts-info {
  font-size: 14px;
  color: gray;
}
.groups-left-joined-container-active {
  background-color: #1877f2;
  color: white;
}
.groups-left-joined-container-active:hover {
  background-color: #1464aa;
}
.groups-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.group-card-container {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
}
.group-card-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.group-card-right {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.group-card-name {
  font-size: 24px;
  font-weight: bold;
}
.group-card-description {
  font-size: 16px;
  color: gray;
  margin-top: 10px;
  text-align: justify;
}
.group-card-info {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.create-group-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.create-group-card-container {
  background-color: white;
  width: 500px;
  height: fit-content;
  min-height: 300px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}
.create-group-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.create-group-card-header-title {
  font-size: 24px;
  font-weight: bold;
  justify-self: center;
  align-self: center;
}
.create-group-card-header-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 35px;
  height: 35px;
  color: red;
  cursor: pointer;
  transition: 0.2s ease;
}
.create-group-card-header-close:hover {
  color: darkred;
}
.create-group-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
}
.create-group-card-body-input {
  width: 100%;
  margin-bottom: 16px;
}
.create-group-card-body-input input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  outline: none;
  transition: 0.2s ease;
  font-size: 16px;
}
.create-group-card-body-input input:focus {
  border: 1px solid #1877f2;
}
.create-group-card-body-input-select {
  width: 100%;
  margin-bottom: 16px;
}
.create-group-card-body-input-select select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  outline: none;
  transition: 0.2s ease;
  font-size: 16px;
}
.create-group-card-body-input-select select:focus {
  border: 1px solid #1877f2;
}
.create-group-card-body-input-select option {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  outline: none;
  transition: 0.2s ease;
  font-size: 16px;
}
.create-group-card-body-input-select option:focus {
  border: 1px solid #1877f2;
}
.create-group-card-body-input-file {
  display: none;
}
.create-group-card-body-input-file-button {
  width: 100%;
  border: none;
  outline: none;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  transition: 0.2s ease;
  background-color: #42b72a;
  color: white;
  cursor: pointer;
}
.create-group-card-body-input-file-button:hover {
  background-color: #36a420;
}
.create-group-card-footer {
  width: 100%;
}
.create-group-card-footer-button-enabled, .create-group-card-footer-button-disabled {
  width: 100%;
  border: none;
  outline: none;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  transition: 0.2s ease;
}
.create-group-card-footer-button-enabled {
  background-color: #1877f2;
  margin-top: 16px;
  color: white;
  cursor: pointer;
}
.create-group-card-footer-button-enabled:hover {
  background-color: #1464aa;
}
.create-group-card-footer-button-disabled {
  background-color: #f0f2f5;
  margin-top: 16px;
  color: darkgray;
  cursor: not-allowed;
}

.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.group-header {
  width: 100%;
  background-color: white;
}
.group-header-container {
  padding: 20px 15%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.group-header-picture {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-right: 10px;
  color: gray;
  object-fit: cover;
}
.group-header-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.group-header-info-name {
  font-size: 24px;
  font-weight: bold;
}
.group-header-info-description {
  font-size: 16px;
  color: gray;
  margin-top: 10px;
}
.group-header-info-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-top: 5px;
  gap: 10px;
}
.group-header-info-stats-stat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.group-header-info-stats-stat-text {
  font-size: 14px;
  color: gray;
}
.group-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  background-color: white;
  transition: 0.2s ease;
}
.group-buttons-icon, .group-buttons-icon-active {
  width: 100%;
  max-height: 45px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
}
.group-buttons-icon {
  color: darkgray;
}
.group-buttons-icon:hover {
  border-bottom: 2px solid #1877f2;
  background-color: #f0f2f5;
}
.group-buttons-icon-active {
  color: #1877f2;
  border-bottom: 2px solid #1877f2;
}
.group-buttons-icon-active:hover {
  background-color: #f0f2f5;
}
.group-content {
  width: 100%;
  margin-top: 20px;
  align-items: start;
  justify-items: center;
}
.group-content-posts {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  padding-bottom: 20px;
}
.group-content-posts-left {
  margin-left: 15%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group-content-posts-left-title {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
}
.group-content-posts-right {
  background-color: white;
  margin-right: 15%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: min-content;
}
.group-content-posts-right-title {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
}
.group-content-posts-right-info {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.group-content-posts-right-info-icon {
  width: 20px;
  height: 20px;
  color: gray;
  margin-right: 5px;
}
.group-content-posts-right-info-icon-chat {
  width: 20px;
  height: 20px;
  color: gray;
  margin-right: 5px;
}
.group-content-posts-right-info-icon-chat:hover {
  color: #1877f2;
}
.group-content-posts-right-info-gender {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.group-content-posts-right-info-chat {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.group-content-posts-right-info-chat:hover {
  color: #1877f2;
}

.your-group-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.group-posts {
  width: 100%;
  margin-top: 20px;
}

.create-post {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.create-post .create-post-header {
  display: flex;
  flex-direction: row;
}
.create-post .create-post-header .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  color: gray;
}
.create-post .create-post-header input {
  width: 100%;
  padding: 0 10px;
  outline: none;
  background-color: #f0f2f5;
  transition: 0.2s ease;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}
.create-post .create-post-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.create-post .create-post-footer .footer-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: 0.2s ease;
}
.create-post .create-post-footer .footer-item p {
  color: black;
  font-size: 16px;
}
.create-post .create-post-footer .footer-item:hover {
  cursor: pointer;
  background-color: #f0f2f5;
}
.create-post .create-post-footer .footer-item .camera-icon,
.create-post .create-post-footer .footer-item .photo-icon,
.create-post .create-post-footer .footer-item .smile-icon {
  width: 25px;
  height: 25px;
}
.create-post .create-post-footer .footer-item .camera-icon {
  color: red;
}
.create-post .create-post-footer .footer-item .photo-icon {
  color: green;
}
.create-post .create-post-footer .footer-item .smile-icon {
  color: orange;
}

.home-post-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 10px;
}

.group-action-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  padding: 10px 15%;
  background-color: white;
  font-weight: bold;
  align-items: center;
  justify-items: center;
}
.group-action-buttons-join, .group-action-buttons-leave, .group-action-buttons-invite, .group-action-buttons-accept, .group-action-buttons-kick, .group-action-buttons-promote {
  color: white;
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}
.group-action-buttons-join {
  background-color: #1877f2;
}
.group-action-buttons-join:hover {
  background-color: #1464aa;
}
.group-action-buttons-leave {
  background-color: red;
}
.group-action-buttons-leave:hover {
  background-color: darkred;
}
.group-action-buttons-invite {
  background-color: #42b72a;
}
.group-action-buttons-invite:hover {
  background-color: #36a420;
}
.group-action-buttons-accept {
  background-color: #1877f2;
}
.group-action-buttons-accept:hover {
  background-color: #1464aa;
}
.group-action-buttons-kick {
  background-color: red;
}
.group-action-buttons-kick:hover {
  background-color: darkred;
}
.group-action-buttons-promote {
  background-color: #42b72a;
}
.group-action-buttons-promote:hover {
  background-color: #36a420;
}

/*# sourceMappingURL=group.css.map */
