// Define variables
$font-family-main: 'Roboto', sans-serif;
$color-primary: #1877f2;
$color-primary-dark: #1464aa;
$color-secondary: #42b72a;
$color-secondary-dark: #36a420;
$color-dark: #000000;
$color-light: #f0f2f5;
$color-grey: #ccc;
$input-border: 1px solid #cccccc;
$transition: 0.2s ease;


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.home {
    padding: 80px 10px 10px;

    min-height: 100vh;
    background-color: $color-light;

    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

    .left {
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        align-items: end;
        margin-right: 100px;

        .subLeft {
            width: max-content;
            display: flex;
            flex-direction: column;

            justify-items: flex-start;
            align-items: start;
            justify-content: start;

        }

        .user-info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            justify-items: flex-start;
            text-decoration: none;
            padding-left: 10px;
            padding-right: 10px;
            transition: $transition;

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
                color: gray;
            }

            .name {
                font-weight: 600;
                font-size: 18px;
                color: black;
                text-decoration: none;
            }

            &:hover {
                background-color: #e4e6eb;
                border-radius: 10px;
            }
        }

        .other-navigation {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            justify-items: flex-start;
            text-decoration: none;
            padding-left: 10px;
            padding-right: 10px;
            transition: $transition;

            &-icon {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                color: deepskyblue;
            }

            &-text {
                font-weight: 500;
                font-size: 18px;
                color: black;
                text-decoration: none;
            }

            &:hover {
                background-color: #e4e6eb;
                border-radius: 10px;
            }
        }
    }

    .middle {
        display: flex;
        flex-direction: column;

        .create-post {
            background-color: white;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 25px;

            .create-post-header {
                display: flex;
                flex-direction: row;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 10px;
                    color: gray;
                }

                input {
                    width: 100%;
                    padding: 0 10px;
                    outline: none;
                    background-color: $color-light;
                    transition: $transition;
                    border-radius: 20px;
                    border: none;
                    font-size: 15px;
                }
            }

            .create-post-footer {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .footer-item {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    text-decoration: none;
                    transition: $transition;

                    p {
                        color: black;
                        font-size: 16px;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: $color-light;
                    }

                    .camera-icon,
                    .photo-icon,
                    .smile-icon {
                        width: 25px;
                        height: 25px;

                    }

                    .camera-icon {
                        color: red;
                    }

                    .photo-icon {
                        color: green;
                    }

                    .smile-icon {
                        color: orange;
                    }
                }
            }
        }
    }
}


.story-reels {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 25px;

    align-items: center;
    justify-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;

    &-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }

    &-content {
        min-height: 100px;
        width: 100%;
        transition: $transition;

        &-story,
        &-reels {
            width: 100%;
            height: 100%;

            gap: 10px;

            justify-content: center;
            align-items: center;

            cursor: pointer;

            &-item {
                margin-top: 10px;

                text-decoration: none;
                text-align: center;
                color: black;

                display: flex;
                flex-direction: column;

                justify-content: center;
                align-items: center;

                height: 100%;
                transition: $transition;

                &:hover {
                    background-color: $color-light;
                    border-radius: 10px;
                }
            }
        }

        &-story {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &-reels {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    &-content-hidden {
        min-height: 100px;
        width: 100%;
        display: none;
        transition: $transition;
    }

    &-item,
    &-item-active {
        width: 100%;
        max-height: 45px;
        box-sizing: border-box;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        transition: $transition;
    }

    &-item {
        color: darkgray;

        &:hover {
            border-bottom: 2px solid $color-primary;
            background-color: $color-light;
        }
    }

    &-item-active {
        color: $color-primary;
        border-bottom: 2px solid $color-primary;

        &:hover {
            background-color: $color-light;
        }
    }
}
