// Define variables
$font-family-main: 'Roboto', sans-serif;
$color-primary: #1877f2;
$color-primary-dark: #1464aa;
$color-secondary: #42b72a;
$color-secondary-dark: #36a420;
$color-dark: #000000;
$color-light: #f0f2f5;
$color-grey: #ccc;
$input-border: 1px solid #cccccc;
$transition: 0.2s ease;

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.messenger {
    padding-top: 60px;
    //min-height: 100vh;
    background-color: $color-light;

    display: flex;
    flex-direction: row;

    &-left {
        flex: 0 0 20%;
        background-color: white;

        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &-text {
                margin: 20px;
                font-size: 25px;
                font-weight: bold;
            }

            &-icons {
                margin: 20px 20px 20px auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &-new {
                    padding: 5px;
                    background-color: $color-light;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    color: black;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-grey;
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        color: black;
                    }
                }
            }
        }

        &-search {
            height: 40px;
            border-radius: 20px;
            border: none;
            padding: 10px;
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            outline: none;
            background-color: $color-light;
            transition: $transition;
            font-size: 14px;
        }
    }

    &-right {
        margin: 10px;
        background-color: white;
        border-radius: 10px;

        flex-grow: 1;
        height: calc(100vh - 75px);
    }

}

.conversation {
    &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-card {
        padding: 10px;
        cursor: pointer;
        transition: $transition;

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        &-picture {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin: 5px;
        }

        &-right {
            display: flex;
            flex-direction: column;

            &-title {
                font-size: 18px;
                font-weight: bold;
                margin-left: 10px;
            }

            &-last-message {
                font-size: 14px;
                margin-left: 10px;
                color: slategray;
            }
        }

        &:hover {
            background-color: $color-grey;
        }
    }
}

.chat {
    position: relative;
    box-sizing: border-box;

    width: 100%;
    height: calc(100vh - 100px);
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;

    &-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        border-bottom: 1px solid $color-grey;

        &-picture {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 10px;
        }

        &-right {
            display: flex;
            flex-direction: column;

            &-title {
                font-size: 18px;
                font-weight: bold;
                margin-left: 10px;
            }

            &-members {
                font-size: 14px;
                margin-left: 10px;
                color: slategray;
            }
        }
    }

    &-input {
        position: fixed;
        box-sizing: border-box;
        bottom: 10px;
        right: 10px;

        height: 40px;
        width: 78%;

        padding: 10px;
        margin: 10px;

        border-radius: 20px;
        border: none;

        outline: none;
        background-color: $color-light;
        transition: $transition;
        font-size: 14px;
    }
}

.bubble {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 15px;

    &-picture {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin: 5px;
    }

    &-right {
        display: flex;
        flex-direction: column;
        max-width: 90%;

        &-name {
            font-size: 12px;
            font-weight: bold;
            margin-left: 5px;
            margin-right: 5px;
        }

        &-content {
            position: relative;
            box-sizing: border-box;

            padding: 10px;

            margin-top: 5px;
            margin-right: 5px;
            margin-left: 5px;

            border-radius: 10px;
            font-size: 14px;
            word-wrap: break-word;
            align-self: flex-end;
        }
    }
}

.bubble-blue {
    justify-content: flex-end;
    margin-right: 20px;

    &-right-name {
        text-align: end;
    }

    &-right-content {
        background-color: $color-primary;
        color: white;
    }
}

.bubble-gray {
    justify-content: flex-start;
    margin-left: 20px;

    &-right-name {
        text-align: start;
    }

    &-right-content {
        background-color: $color-light;
        color: black;
    }
}
