// Define variables
$font-family-main: 'Roboto', sans-serif;
$color-primary: #1877f2;
$color-primary-dark: #1464aa;
$color-secondary: #42b72a;
$color-secondary-dark: #36a420;
$color-dark: #000000;
$color-light: #f0f2f5;
$color-grey: #ccc;
$input-border: 1px solid #cccccc;
$transition: 0.2s ease;

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.messenger {
    padding-top: 60px;
    //min-height: 100vh;
    background-color: $color-light;

    display: flex;
    flex-direction: row;

    &-left {
        flex: 0 0 20%;
        background-color: white;

        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &-text {
                margin: 20px;
                font-size: 25px;
                font-weight: bold;
            }

            &-icons {
                margin: 20px 20px 20px auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                &-new {
                    padding: 5px;
                    background-color: $color-light;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    color: black;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-grey;
                        border-radius: 50%;
                        width: 35px;
                        height: 35px;
                        color: black;
                    }
                }
            }
        }

        &-search {
            height: 40px;
            border-radius: 20px;
            border: none;
            padding: 10px;
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            outline: none;
            background-color: $color-light;
            transition: $transition;
            font-size: 14px;
        }
    }

    &-right {
        margin: 10px;
        background-color: white;
        border-radius: 10px;

        flex-grow: 1;
        height: calc(100vh - 75px);
    }

}

.conversation {
    &-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-card {
        padding: 10px;
        cursor: pointer;
        transition: $transition;

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;


        &-picture,
        &-picture-null {
            height: 50px;
            width: 50px;
            margin: 5px;

            border-radius: 50%;
            transition: $transition;
        }

        &-picture-null {
            padding: 10px;
            color: black;
            background-color: #cccccc;
        }

        &-right {
            display: flex;
            flex-direction: column;

            &-title {
                font-size: 18px;
                font-weight: bold;
                margin-left: 10px;
            }

            &-last-message {
                font-size: 14px;
                margin-left: 10px;
                color: slategray;
            }
        }

        &:hover {
            background-color: $color-grey;
        }
    }
}

.create-conversation-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    &-container {
        background-color: white;
        width: 500px;

        height: fit-content;
        min-height: 300px;

        border-radius: 8px;

        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        position: relative;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;

            &-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 8px;
            }

            &-close {
                position: absolute;
                top: 16px;
                right: 16px;
                width: 35px;
                height: 35px;
                color: red;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    color: darkred;
                }
            }
        }
    }

    &-users {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &-user {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        width: 100%;

        padding: 5px;
        border-radius: 10px;
        cursor: pointer;

        transition: $transition;

        &:hover {
            background-color: #cccccc;
        }

        &-indicator-selected,
        &-indicator-unselected {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            margin: 5px;
            transition: $transition;
        }

        &-indicator-selected {
            color: white;
            background-color: $color-primary;
            cursor: pointer;

            &:hover {
                background-color: $color-primary-dark;
            }
        }

        &-indicator-unselected {
            color: black;
            background-color: $color-light;
        }

        &-profile-picture,
        &-profile-picture-null {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transition: $transition;

            &:hover {
                background-color: #cccccc;
            }
        }

        &-profile-picture {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-profile-picture-null {
            color: black;
        }

        &-right {
            display: flex;
            flex-direction: column;

            &-name {
                font-size: 18px;
                font-weight: bold;
                margin-left: 10px;
            }

            &-username {
                font-size: 14px;
                margin-left: 10px;
                color: slategray;
            }
        }
    }

    &-button-unavailable,
    &-button-available {
        width: 100%;
        border: none;
        outline: none;

        font-weight: bold;
        text-align: center;

        padding: 8px;

        border-radius: 8px;
        transition: $transition;
    }

    &-button-available {
        background-color: $color-primary;
        margin-top: 16px;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: $color-primary-dark;
        }
    }

    &-button-unavailable {
        background-color: $color-light;
        margin-top: 16px;
        color: darkgray;
        cursor: not-allowed;
    }
}

.chat {
    position: relative;
    box-sizing: border-box;

    width: 100%;
    height: calc(100vh - 100px);
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;

    &-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        border-bottom: 1px solid $color-grey;

        &-picture {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 10px;
        }

        &-right {
            display: flex;
            flex-direction: column;

            &-title {
                font-size: 18px;
                font-weight: bold;
                margin-left: 10px;
            }

            &-members {
                font-size: 14px;
                margin-left: 10px;
                color: slategray;
            }
        }
    }

    &-input {
        position: fixed;
        box-sizing: border-box;
        bottom: 10px;
        right: 10px;

        height: 40px;
        width: 78%;

        padding: 10px;
        margin: 10px;

        border-radius: 20px;
        border: none;

        outline: none;
        background-color: $color-light;
        transition: $transition;
        font-size: 14px;
    }
}

.bubble {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 15px;

    &-profile-picture,
    &-profile-picture-null {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 5px;
        transition: $transition;

        &:hover {
            background-color: white;
            opacity: 0.8;
        }
    }

    &-profile-picture {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-profile-picture-null {
        color: black;
    }

    &-right {
        display: flex;
        flex-direction: column;
        max-width: 90%;

        &-name {
            font-size: 12px;
            font-weight: bold;
            margin-left: 5px;
            margin-right: 5px;
        }

        &-content {
            position: relative;
            box-sizing: border-box;

            padding: 10px;

            margin-top: 5px;
            margin-right: 5px;
            margin-left: 5px;

            border-radius: 10px;
            font-size: 14px;
            word-wrap: break-word;
            align-self: flex-end;
        }
    }
}

.bubble-blue {
    justify-content: flex-end;
    margin-right: 20px;

    &-right-name {
        text-align: end;
    }

    &-right-content {
        background-color: $color-primary;
        color: white;
    }
}

.bubble-gray {
    justify-content: flex-start;
    margin-left: 20px;

    &-right-name {
        text-align: start;
    }

    &-right-content {
        background-color: $color-light;
        color: black;
        align-self: start;
    }
}
