// Define variables
$font-family-main: 'Roboto', sans-serif;
$color-primary: #1877f2;
$color-primary-dark: #1464aa;
$color-secondary: #42b72a;
$color-secondary-dark: #36a420;
$color-dark: #000000;
$color-light: #f0f2f5;
$color-grey: #ccc;
$input-border: 1px solid #cccccc;
$transition: 0.2s ease;


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.notification {
    margin-top: 60px;

    min-height: 100vh;
    background-color: $color-light;

    display: flex;
    flex-direction: row;

    &-list {
        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 600px;
        margin: 20px auto;
        gap: 10px;

        align-items: center;
        justify-content: center;
    }
}

.notification-card {
    background-color: white;
    height: fit-content;

    width: 100%;

    padding: 16px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    position: relative;
    cursor: pointer;

    transition: $transition;

    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid $color-primary;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        position: relative;
        width: 100%;

        &-picture {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: black;
        }

        &-text {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            position: relative;

            &-name {
                font-weight: 500;
                font-size: 16px;
                color: $color-dark;
            }

            &-date {
                font-weight: 400;
                font-size: 12px;
                color: $color-grey;
            }
        }
    }

    &-body {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        position: relative;

        &-text {
            font-weight: 400;
            font-size: 14px;
            color: $color-dark;
        }
    }
}
