// Define variables
$font-family-main: 'Roboto', sans-serif;
$color-primary: #1877f2;
$color-primary-dark: #1464aa;
$color-secondary: #42b72a;
$color-secondary-dark: #36a420;
$color-dark: #000000;
$color-light: #f0f2f5;
$color-grey: #ccc;
$input-border: 1px solid #cccccc;
$transition: 0.2s ease;


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-page {
    margin-top: 60px;

    min-height: 100vh;
    background-color: $color-light;

    &-container {
        margin-right: 15%;
        margin-left: 15%;

        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.post {
    background-color: white;
    height: fit-content;

    width: 100%;

    padding: 16px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    position: relative;

    &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        position: relative;
        width: 100%;

        &-left {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            position: relative;
        }

        &-right {
            margin-left: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            position: relative;
            gap: 6px;

            &-icon-edit {
                cursor: pointer;
                width: 20px;
                height: 20px;
                transition: $transition;

                &:hover {
                    color: $color-primary;
                }
            }

            &-icon-delete {
                cursor: pointer;
                width: 20px;
                height: 20px;
                color: red;
                transition: $transition;

                &:hover {
                    color: darkred;
                }
            }
        }

        &-profile-picture,
        &-profile-picture-null {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            transition: $transition;

            &:hover {
                background-color: white;
                opacity: 0.8;
            }
        }

        &-profile-picture {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-profile-picture-null {
            color: black;
        }

        &-info {
            display: flex;
            flex-direction: column;

            &-user-name {
                font-weight: bold;
                font-size: 1.2rem;
                margin: 0;

            }

            &-sub-info {
                display: flex;
                flex-direction: row;
                align-items: center;

                &-date {
                    font-size: 0.8rem;
                    color: $color-grey;
                    margin: 0 8px 0 0;

                }

                &-privacy {
                    color: $color-grey;

                }
            }
        }
    }

    &-content {
        position: relative;

        &-text {
            font-size: 1.2rem;
            margin-top: 20px;
            margin-bottom: 10px;

        }

        &-media,
        &-media-overflow {
            display: flex;
            flex-direction: row;
            gap: 25px;

            width: 100%;
            height: 100%;
            margin-top: 10px;
            margin-bottom: 10px;

            &-image,
            &-video {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }

        &-media-overflow {
            align-items: center;
            justify-content: start;
            justify-items: flex-start;

            overflow: scroll;
        }
    }

    &-statistics {
        display: flex;
        flex-direction: row;

        gap: 10px;

        margin-top: 5px;
        margin-bottom: 10px;

        &-likes,
        &-comments,
        &-shares {
            font-size: 0.8rem;
            color: gray;

        }
    }

    &-buttons {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column: 3;

        justify-content: center;
        align-items: center;

        &-item {
            width: 100%;
            max-height: 45px;
            box-sizing: border-box;
            padding-top: 10px;
            padding-bottom: 10px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            text-decoration: none;

            cursor: pointer;

            transition: $transition;

            &-icon {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            &-like {
                color: $color-primary;
                border-bottom: 2px solid white;

                &-active {
                    color: $color-primary;
                    border-bottom: 2px solid $color-primary;
                }

                &:hover {
                    border-bottom: 2px solid $color-primary;
                    background-color: $color-light;
                }
            }

            &-comment {
                color: $color-secondary;
                border-bottom: 2px solid white;

                &:hover {
                    border-bottom: 2px solid $color-secondary;
                    background-color: $color-light;
                }
            }

            &-share {
                color: orange;
                border-bottom: 2px solid white;

                &:hover {
                    border-bottom: 2px solid orange;
                    background-color: $color-light;
                }
            }
        }
    }
}
