body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-page {
  margin-top: 60px;
  min-height: 100vh;
  background-color: #f0f2f5;
}
.post-page-container {
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post {
  background-color: white;
  height: fit-content;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: relative;
}
.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
}
.post-header-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: relative;
}
.post-header-right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: relative;
  gap: 6px;
}
.post-header-right-icon-edit {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: 0.2s ease;
}
.post-header-right-icon-edit:hover {
  color: #1877f2;
}
.post-header-right-icon-delete {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: red;
  transition: 0.2s ease;
}
.post-header-right-icon-delete:hover {
  color: darkred;
}
.post-header-profile-picture, .post-header-profile-picture-null {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.2s ease;
}
.post-header-profile-picture:hover, .post-header-profile-picture-null:hover {
  background-color: white;
  opacity: 0.8;
}
.post-header-profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-header-profile-picture-null {
  color: black;
}
.post-header-info {
  display: flex;
  flex-direction: column;
}
.post-header-info-user-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.post-header-info-sub-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-header-info-sub-info-date {
  font-size: 0.8rem;
  color: #ccc;
  margin: 0 8px 0 0;
}
.post-header-info-sub-info-privacy {
  color: #ccc;
}
.post-content {
  position: relative;
}
.post-content-text {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
.post-content-media, .post-content-media-overflow {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-content-media-image, .post-content-media-video, .post-content-media-overflow-image, .post-content-media-overflow-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-content-media-overflow {
  align-items: center;
  justify-content: start;
  justify-items: flex-start;
  overflow: scroll;
}
.post-statistics {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.post-statistics-likes, .post-statistics-comments, .post-statistics-shares {
  font-size: 0.8rem;
  color: gray;
}
.post-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 3;
  justify-content: center;
  align-items: center;
}
.post-buttons-item {
  width: 100%;
  max-height: 45px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.post-buttons-item-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.post-buttons-item-like {
  color: #1877f2;
  border-bottom: 2px solid white;
}
.post-buttons-item-like-active {
  color: #1877f2;
  border-bottom: 2px solid #1877f2;
}
.post-buttons-item-like:hover {
  border-bottom: 2px solid #1877f2;
  background-color: #f0f2f5;
}
.post-buttons-item-comment {
  color: #42b72a;
  border-bottom: 2px solid white;
}
.post-buttons-item-comment:hover {
  border-bottom: 2px solid #42b72a;
  background-color: #f0f2f5;
}
.post-buttons-item-share {
  color: orange;
  border-bottom: 2px solid white;
}
.post-buttons-item-share:hover {
  border-bottom: 2px solid orange;
  background-color: #f0f2f5;
}
.post-comment-input {
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #f0f2f5;
  transition: 0.2s ease;
  font-size: 14px;
}

.comment {
  width: 100%;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.comment-self {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.comment-sub {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin-bottom: 10px;
}
.comment-sub-show {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #ccc;
}
.comment-picture, .comment-picture-null {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.2s ease;
}
.comment-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comment-picture-null {
  color: black;
}
.comment-right {
  display: flex;
  flex-direction: column;
}
.comment-right-name {
  font-weight: bold;
}
.comment-right-content {
  font-size: 14px;
}
.comment-right-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 5px;
  transition: 0.2s ease;
  align-items: center;
  justify-content: start;
}
.comment-right-buttons-like, .comment-right-buttons-comment {
  font-size: 12px;
  color: #ccc;
  transition: 0.2s ease;
  gap: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.comment-right-buttons-like:hover, .comment-right-buttons-comment:hover {
  color: #000000;
}

.share-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.share-card-container {
  background-color: white;
  width: 500px;
  height: fit-content;
  min-height: 300px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}
.share-card-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.share-card-container-header-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.share-card-container-header-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 35px;
  height: 35px;
  color: red;
  cursor: pointer;
  transition: 0.2s ease;
}
.share-card-container-header-close:hover {
  color: darkred;
}
.share-card-container-conversations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.share-card-container-button-unavailable, .share-card-container-button-available {
  width: 100%;
  border: none;
  outline: none;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  transition: 0.2s ease;
}
.share-card-container-button-available {
  background-color: #1877f2;
  margin-top: 16px;
  color: white;
  cursor: pointer;
}
.share-card-container-button-available:hover {
  background-color: #1464aa;
}
.share-card-container-button-unavailable {
  background-color: #f0f2f5;
  margin-top: 16px;
  color: darkgray;
  cursor: not-allowed;
}

/*# sourceMappingURL=post.css.map */
