body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  background-color: white;
  height: fit-content;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: relative;
}
.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
}
.post-header-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: relative;
}
.post-header-right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: relative;
  gap: 6px;
}
.post-header-right-icon-edit {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: 0.2s ease;
}
.post-header-right-icon-edit:hover {
  color: #1877f2;
}
.post-header-right-icon-delete {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: red;
  transition: 0.2s ease;
}
.post-header-right-icon-delete:hover {
  color: darkred;
}
.post-header-profile-picture, .post-header-profile-picture-null {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.2s ease;
}
.post-header-profile-picture:hover, .post-header-profile-picture-null:hover {
  background-color: white;
  opacity: 0.8;
}
.post-header-profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-header-profile-picture-null {
  color: black;
}
.post-header-info {
  display: flex;
  flex-direction: column;
}
.post-header-info-user-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}
.post-header-info-sub-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-header-info-sub-info-date {
  font-size: 0.8rem;
  color: #ccc;
  margin: 0 8px 0 0;
}
.post-header-info-sub-info-privacy {
  color: #ccc;
}
.post-content {
  position: relative;
}
.post-content-text {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
.post-content-media, .post-content-media-overflow {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-content-media-image, .post-content-media-video, .post-content-media-overflow-image, .post-content-media-overflow-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-content-media-overflow {
  align-items: center;
  justify-content: start;
  justify-items: flex-start;
  overflow: scroll;
}
.post-statistics {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.post-statistics-likes, .post-statistics-comments, .post-statistics-shares {
  font-size: 0.8rem;
  color: gray;
}
.post-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 3;
  justify-content: center;
  align-items: center;
}
.post-buttons-item {
  width: 100%;
  max-height: 45px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
}
.post-buttons-item-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.post-buttons-item-like {
  color: #1877f2;
  border-bottom: 2px solid white;
}
.post-buttons-item-like-active {
  color: #1877f2;
  border-bottom: 2px solid #1877f2;
}
.post-buttons-item-like:hover {
  border-bottom: 2px solid #1877f2;
  background-color: #f0f2f5;
}
.post-buttons-item-comment {
  color: #42b72a;
  border-bottom: 2px solid white;
}
.post-buttons-item-comment:hover {
  border-bottom: 2px solid #42b72a;
  background-color: #f0f2f5;
}
.post-buttons-item-share {
  color: orange;
  border-bottom: 2px solid white;
}
.post-buttons-item-share:hover {
  border-bottom: 2px solid orange;
  background-color: #f0f2f5;
}

/*# sourceMappingURL=post.css.map */
