// Define variables
$font-family-main: 'Roboto', sans-serif;
$color-primary: #1877f2;
$color-primary-dark: #1464aa;
$color-secondary: #42b72a;
$color-secondary-dark: #36a420;
$color-dark: #000000;
$color-light: #f0f2f5;
$color-grey: #ccc;
$input-border: 1px solid #cccccc;
$transition: 0.2s ease;


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.post-list-profile {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;

    margin-right: 15px;
    margin-left: 15px;
}

.profile {
    margin-top: 60px;

    min-height: 100vh;
    background-color: $color-light;

    display: flex;
    flex-direction: column;

    &-header {
        background-color: white;
        padding-top: 0;

        &-container {
            padding-right: 15%;
            padding-left: 15%;

            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }

        &-input-hidden {
            display: none;

            input {
                display: none;
            }
        }

        &-picture,
        &-null-picture {
            width: 100%;
            height: 100%;
            max-width: 175px;
            max-height: 175px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid white;

            &:hover {
                cursor: pointer;
            }
        }

        &-picture {
            width: 175px;
            height: 175px;
            border-radius: 50%;
            margin-right: 10px;
            color: gray;
        }

        &-null-picture {
            color: #cccccc;
        }

        &-info {
            display: flex;
            flex-direction: column;

            &-name {
                font-size: 1.75rem;
                font-weight: 600;
                margin-bottom: 0;
            }

            &-username {
                font-weight: 400;
                color: slategray;
                margin-bottom: 0;
            }

            &-friends {
                font-weight: 400;
                color: slategray;
                margin-bottom: 0;
                font-size: 0.75rem;
            }
        }

        &-buttons {
            display: flex;
            flex-direction: row;
            gap: 10px;

            margin-left: auto;
            margin-top: auto;
            margin-bottom: 20px;
            color: white;
            font-weight: bold;

            align-items: center;
            justify-items: center;

            cursor: pointer;

            &-icon {
                width: 17px;
                height: 17px;
                margin-right: 10px;
            }

            &-add,
            &-cf,
            &-message,
            &-edit,
            &-block {
                padding: 7px 10px;
                border-radius: 10px;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-items: center;

                transition: $transition;
            }

            &-add {
                background-color: $color-primary;

                &:hover {
                    background-color: $color-primary-dark;
                }
            }

            &-cf {
                background-color: $color-secondary;

                &:hover {
                    background-color: $color-secondary-dark;
                }
            }

            &-message {
                background-color: $color-primary;

                &:hover {
                    background-color: $color-primary-dark;
                }
            }

            &-edit {
                color: black;
                background-color: #E6E6EA;

                &:hover {
                    background-color: gray;
                }
            }

            &-block {
                background-color: red;

                &:hover {
                    background-color: darkred;
                }
            }
        }
    }

    &-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;

        align-items: center;
        justify-items: center;
        text-align: center;

        padding-right: 15%;
        padding-left: 15%;

        background-color: white;
        transition: $transition;

        &-icon,
        &-icon-active {
            width: 100%;
            max-height: 45px;
            box-sizing: border-box;
            padding-top: 10px;
            padding-bottom: 10px;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            transition: $transition;
        }

        &-icon {
            color: darkgray;

            &:hover {
                border-bottom: 2px solid $color-primary;
                background-color: $color-light;
            }
        }

        &-icon-active {
            color: $color-primary;
            border-bottom: 2px solid $color-primary;

            &:hover {
                background-color: $color-light;
            }
        }
    }

    &-recommendations {
        margin-top: 20px;
        margin-left: 15%;
        margin-right: 15%;

        display: flex;
        flex-direction: column;

        background-color: $color-light;
    }

    &-content {
        display: grid;
        grid-template-columns: 40% 60%;

        margin-top: 20px;
        margin-right: 15%;
        margin-left: 15%;

        align-items: start;
        justify-items: center;

        gap: 20px;

        &-left {
            background-color: white;
            width: 100%;

            border-radius: 10px;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-items: center;

            &-title {
                width: 100%;

                font-size: 1.25rem;
                font-weight: 600;

                padding: 10px 20px 10px 20px;
            }

            &-info {
                width: 100%;
                padding-left: 20px;

                display: flex;
                flex-direction: column;
                gap: 10px;

                margin-bottom: 10px;

                &-icon {
                    width: 20px;
                    height: 20px;
                    color: gray;

                    margin-right: 5px;
                }

                &-gender {
                    display: flex;
                    flex-direction: row;

                    align-items: center;
                    justify-items: center;
                }
            }
        }

        &-right {
            background-color: white;
            width: 100%;

            border-radius: 10px;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-items: center;

            &-title {
                width: 100%;

                font-size: 1.25rem;
                font-weight: 600;

                padding: 10px 20px 10px 20px;
            }
        }
    }

}
