body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile {
  margin-top: 60px;
  min-height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
}
.profile-header {
  background-color: white;
  padding-top: 0;
}
.profile-header-container {
  padding-right: 15%;
  padding-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.profile-header-picture, .profile-header-null-picture {
  width: 100%;
  height: 100%;
  max-width: 175px;
  max-height: 175px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}
.profile-header-picture:hover, .profile-header-null-picture:hover {
  cursor: pointer;
}
.profile-header-null-picture {
  color: #cccccc;
}
.profile-header-info {
  display: flex;
  flex-direction: column;
}
.profile-header-info-name {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0;
}
.profile-header-info-username {
  font-weight: 400;
  color: slategray;
  margin-bottom: 0;
}
.profile-header-info-friends {
  font-weight: 400;
  color: slategray;
  margin-bottom: 0;
  font-size: 0.75rem;
}
.profile-header-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}
.profile-header-buttons-icon {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
.profile-header-buttons-add, .profile-header-buttons-cf, .profile-header-buttons-message, .profile-header-buttons-edit, .profile-header-buttons-block {
  padding: 7px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  transition: 0.2s ease;
}
.profile-header-buttons-add {
  background-color: #1877f2;
}
.profile-header-buttons-add:hover {
  background-color: #1464aa;
}
.profile-header-buttons-cf {
  background-color: #42b72a;
}
.profile-header-buttons-cf:hover {
  background-color: #36a420;
}
.profile-header-buttons-message {
  background-color: #1877f2;
}
.profile-header-buttons-message:hover {
  background-color: #1464aa;
}
.profile-header-buttons-edit {
  color: black;
  background-color: #E6E6EA;
}
.profile-header-buttons-edit:hover {
  background-color: gray;
}
.profile-header-buttons-block {
  background-color: red;
}
.profile-header-buttons-block:hover {
  background-color: darkred;
}
.profile-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding-right: 15%;
  padding-left: 15%;
  background-color: white;
}
.profile-buttons-icon, .profile-buttons-icon-active {
  width: 100%;
  max-height: 45px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
}
.profile-buttons-icon {
  color: darkgray;
}
.profile-buttons-icon:hover {
  border-bottom: 2px solid #1877f2;
  background-color: #f0f2f5;
}
.profile-buttons-icon-active {
  color: #1877f2;
  border-bottom: 2px solid #1877f2;
}
.profile-buttons-icon-active:hover {
  background-color: #f0f2f5;
}
.profile-content {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 20px;
  margin-right: 15%;
  margin-left: 15%;
  align-items: start;
  justify-items: center;
  gap: 20px;
}
.profile-content-left {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.profile-content-left-title {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
}
.profile-content-left-info {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.profile-content-right {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.profile-content-right-title {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
}

/*# sourceMappingURL=profile.css.map */
