// Define variables
$font-family-main: 'Roboto', sans-serif;
$color-primary: #1877f2;
$color-primary-dark: #1464aa;
$color-secondary: #42b72a;
$color-secondary-dark: #36a420;
$color-dark: #000000;
$color-light: #f0f2f5;
$color-grey: #ccc;
$input-border: 1px solid #cccccc;
$transition: 0.2s ease;


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-main;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.search {
    margin-top: 60px;

    min-height: 100vh;
    background-color: $color-light;

    display: flex;
    flex-direction: row;

    &-left {
        flex: 0 0 20%;
        background-color: white;

        display: flex;
        flex-direction: column;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            &-text {
                margin: 20px;
                font-size: 24px;
                font-weight: bold;
            }
        }

        &-buttons {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-right: 20px;

            align-items: start;
            justify-content: center;

            gap: 10px;

            cursor: pointer;

            &-container {
                width: 100%;

                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: start;

                border-radius: 10px;
                padding: 10px;

                transition: $transition;

                &:hover {
                    background-color: $color-grey;
                }
            }

            &-icon,
            &-icon-active {
                width: 30px;
                height: 30px;
                margin-right: 10px;

                padding: 3px;

                border-radius: 50%;
                transition: $transition;
            }

            &-icon {
                color: black;
                background-color: $color-light;
            }

            &-icon-active {
                color: white;
                background-color: $color-primary;
            }
        }
    }

    &-content {
        width: 100%;
        height: 100%;
        margin: 20px;
    }

    &-content-column,
    &-content-row {
        width: 100%;
        height: 100%;

        display: flex;
        gap: 10px;
    }

    &-content-column {
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }

    &-content-row {
        flex-direction: row;

        align-items: center;
        justify-items: start;
    }

}
